<html>
    <head>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='/styles/main.css') }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src=  "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">   </script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto|Sofia|Cedarville Cursive|Marck Script|Merienda One|Vast Shadow|Work Sans|Niconne|Pacifico|Kaushan Script|Capriola|Source Code Pro">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="css/materialize.min.css">
        <link rel="stylesheet" href="css/style.css">
      
        <title></title>
    </head>
    <body>
      <center>
        <div class="jumbotron">
            <h1 class="display-4">Information Aggregator</h1>
            <p class="lead">This is a web application which gathers, collects and accumulates content like news, articles, latest trends in social media, twitter feeds etc. and then displays all that information via links on one single web page.</p>
            <hr class="my-4">
            <p>You can click on any of the content you want to read and based on your personal interest you can read any of the category.</p>
            <p class="lead"><br>
              <a class="btn btn-primary btn-lg" href="#" role="button">Contents</a>
            </p>
          </div></center>

          <div>
            <p>
            <img src='../static/img/news.jpg' style="width: 250px;height: 250px;margin-right: 30px;float: right;">
            From this point you can see all the aspects of latest news like sports news, science news, crime news, etc.
            according to your prefrence and interest level. 
            </p>
          </div>
    </body>
    
</html>
